<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Whatsapp Baileys</title>
  </head>
  <body>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">
            Welcome to Baileys Whatsapp API.
          </h1>
          <!-- <button id="status" class="btn btn-warning text-white" href="/">Initialize</button> -->
          <% if(qr == null) { %>
          <a href="/api/session/create" class="btn btn-success text-white">
            <i class="fas fa-pencil-alt"></i>
            Generate QR
          </a>
          <% } %>
        </div>
        <div class="col-md-10 mx-auto col-lg-5 d-flex justify-content-center">
          <% if(qr != null) { %>
          <img src=<%= qr %>
          id="qrcode" style="width: 300px" /> <% } else { %>
          <img
            src="https://c.tenor.com/5o2p0tH5LFQAAAAi/hug.gif"
            id="qrcode"
            style="width: 300px"
          />
          <% } %>
        </div>
      </div>
    </div>
    <div class="border-top p-5">
      <h3>Link a device</h3>
      <b>Android</b>
      <ul>
        <li>
          Open WhatsApp on your phone, then tap More options > Linked devices > Link a device.
        </li>
        <li>
          Unlock your phone:
          If your device has biometric authentication, follow the on-screen instructions.
          If you don’t have biometric authentication enabled, you’ll be prompted to enter the pin you use to unlock your phone.
        </li>
        <li>
          Point your phone at the screen of the device you want to link, and scan the QR code.
        </li>
      </ul>
    </div>
    <div class="border-top p-5 bg-dark text-light">
      <h3>Logging</h3>
      <ul id="log"></ul>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"
      integrity="sha512-iqRVtNB+t9O+epcgUTIPF+nklypcR23H1yR1NFM9kffn6/iBhZ9bTB6oKLaGMv8JE9UgjcwfBFg/eHC/VMws+g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $("document").ready(() => {
        const socket = io.connect(
          window.location.hostname + ":" + window.location.port,
          { path: "/socket.io" }
        );

        socket.on("message", (data) => {
          $("#log").append(`<li>${data}</li>`);
        });

        socket.on("statusSession", (data) => {
          if (data == "isLogged" || data == "qrReadSuccess") {
            $("#status").attr("class", "btn btn-success");
            $("#qrcode").attr(
              "src",
              "https://www.pngall.com/wp-content/uploads/5/Checklist-PNG.png"
            );
          } else if (data == "initialize") {
            $("#status").attr("class", "btn btn-warning");
            $("#qrcode").attr(
              "src",
              "https://c.tenor.com/5o2p0tH5LFQAAAAi/hug.gif"
            );
          } else if (data == "qrReadFail") {
          }
          $("#status").html(data);
        });

        socket.on("qrcode", (data) => {
          $("#qrcode").attr("src", data);
        });
      });
    </script>
  </body>
</html>
